/*display: flex;
// Torna o elemento um flex container automaticamente transformando todos os seus filhos 
diretos em flex itens.*/
/* Flex */

.container {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
/* Flex Item */
.item {
	margin: 5px;
	background: darkgoldenrod;
	text-align: center;
	font-size: 1.5em;
}
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.flex-item-1 {
	flex: 1;
}

